/* Project Management App styles */
.task > ul {
  list-style: none;
  padding-inline-start: 0;
}

.task > ul > li {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 1rem 0;
  padding: 1rem;
  background-color: #fafafa;
  box-shadow: 0px 5px 10px 0px #f1f1f1;
}
.task > ul > li > span {
  flex: 1;
}