/* Global styles */
:root {
  --color-primary: #415f91;
  --color-on-primary: #ffffff;
  --color-surface: #f9f9ff;
  --color-on-surface: #191c20;
  --color-surface-container: #ededf4;
  --color-on-surface-container: #191c20;
  --color-secondary-container: #dae2f9;
  --color-on-secondary-container: #3e4759;
  --color-outline: #c4c6d0;
  --font-sans-serif-family: Inter, Arial, sans-serif;
  --font-body: 1rem;
  --font-h1: 2.027rem;
  --font-h2: 1.802rem;
  --font-h3: 1.602rem;
  --font-h4: 1.424rem;
  --font-h5: 1.266rem;
  --font-h6: 1.125rem;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
@font-face {
  font-family: Inter;
  src: url('../fonts/Inter/Inter-VariableFont_opsz,wght.ttf');
  font-weight: 100 900;
}
body {
  display: grid;
  grid:
    "navrail"
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 88px auto 1fr auto;
  margin: 0;
  font-family: var(--font-sans-serif-family);
  font-size: var(--font-body);
  font-weight: 400;
  color: var(--color-on-surface);
  background-color: var(--color-surface);
}
@media screen and (min-width: 600px) {
  body {
    display: grid;
    grid:
      "navrail  header"
      "navrail  main"
      "navrail  footer";
    grid-template-columns: 88px 1fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
  }
}
@media screen and (min-width: 1024px) {
  body {
    display: grid;
    grid:
      "navrail  header  header"
      "navrail  main    main"
      "navrail  footer  footer";
    grid-template-columns: 88px 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
  }
}


/* Navbar rail styles */
nav.rail {
  grid-area: navrail;
  display: grid;
  grid:
    "menustart  menuend";
  color: var(--color-on-surface-container);
  background-color: var(--color-surface-container);
}
nav.rail ul {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  list-style: none;
}
nav.rail ul.menustart {
  grid-area: menustart;
}
nav.rail ul.menuend {
  grid-area: menuend;
  justify-content: flex-end;
}
nav.rail ul > li {
  align-self: center;
  align-content: center;
  height: 88px;
  width: 88px;
  text-align: center;
  border-left: 1px solid var(--color-outline);
}
nav.rail ul > li.active {
  color: var(--color-on-secondary-container);
  background-color: var(--color-secondary-container);
}
nav.rail ul > li:last-child {
  border-right: 1px solid var(--color-outline);
}
@media screen and (min-width: 600px) {
  nav.rail {
    display: grid;
    grid:
      "menustart"
      "menuend";
  }
  nav.rail ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  nav.rail ul > li {
    border-left: none;
    border-top: 1px solid var(--color-outline);
  }
  nav.rail ul > li:last-child {
    border-right: none;
    border-bottom: 1px solid var(--color-outline);
  }
}
nav.rail ul > li > a {
  text-decoration: none;
  color: var(--color-on-surface-container);
}
header {
  grid-area: header;
  padding: 1rem;
}
main {
  grid-area: main;
  padding: 1rem;
}
footer {
  grid-area: footer;
  padding: 1rem;
}

/* Form styles. */
form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"] {
  height: 32px;
  padding: 0 1rem;
  border: 1px solid var(--color-outline);
}

/* Banner styles */
.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20vh;
}

/* Grid layout styles. */
.grid {
  display: grid;
  grid-template-columns: repeat(12,1fr);
}
.grid-col-1 {
  grid-column: 1 span;
}
.grid-col-2 {
  grid-column: 2 span;
}
.grid-col-3 {
  grid-column: 3 span;
}
.grid-col-4 {
  grid-column: 4 span;
}
.grid-col-5 {
  grid-column: 5 span;
}
.grid-col-6 {
  grid-column: 6 span;
}
.grid-col-7 {
  grid-column: 7 span;
}
.grid-col-8 {
  grid-column: 8 span;
}
.grid-col-9 {
  grid-column: 9 span;
}
.grid-col-10 {
  grid-column: 10 span;
}
.grid-col-11 {
  grid-column: 11 span;
}
.grid-col-12 {
  grid-column: 12 span;
}
@media screen and (min-width: 600px) and (max-width: 839px) {
  .md-grid-col-1 {
    grid-column: 1 span;
  }
  .md-grid-col-2 {
    grid-column: 2 span;
  }
  .md-grid-col-3 {
    grid-column: 3 span;
  }
  .md-grid-col-4 {
    grid-column: 4 span;
  }
  .md-grid-col-5 {
    grid-column: 5 span;
  }
  .md-grid-col-6 {
    grid-column: 6 span;
  }
  .md-grid-col-7 {
    grid-column: 7 span;
  }
  .md-grid-col-8 {
    grid-column: 8 span;
  }
  .md-grid-col-9 {
    grid-column: 9 span;
  }
  .md-grid-col-10 {
    grid-column: 10 span;
  }
  .md-grid-col-11 {
    grid-column: 11 span;
  }
  .md-grid-col-12 {
    grid-column: 12 span;
  }
}
@media screen and (min-width: 840px) {
  .lg-grid-col-1 {
    grid-column: 1 span;
  }
  .lg-grid-col-2 {
    grid-column: 2 span;
  }
  .lg-grid-col-3 {
    grid-column: 3 span;
  }
  .lg-grid-col-4 {
    grid-column: 4 span;
  }
  .lg-grid-col-5 {
    grid-column: 5 span;
  }
  .lg-grid-col-6 {
    grid-column: 6 span;
  }
  .lg-grid-col-7 {
    grid-column: 7 span;
  }
  .lg-grid-col-8 {
    grid-column: 8 span;
  }
  .lg-grid-col-9 {
    grid-column: 9 span;
  }
  .lg-grid-col-10 {
    grid-column: 10 span;
  }
  .lg-grid-col-11 {
    grid-column: 11 span;
  }
  .lg-grid-col-12 {
    grid-column: 12 span;
  }
}

/* Toast styles */
#toast-container {
  position: absolute;
  right: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.toast {
  background-color: #fff;
  padding: 1rem;
  border-radius: 1rem;
  width: 300px;
  right: 1rem;
}
.toast-header {
  display: flex;
  justify-content: space-between;
}
